.book-spotlight {
    background-color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

.book-spotlight-img {
    height: 550px;
    width: 733px;
    object-fit: cover;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 70px;
}

.book-spotlight h1 {
    color: #292727;
    font-size: 45px;
    padding: 0;
    text-align: left;
}

.book-spotlight h2 {
    color: #489fb5;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: left;
}

.book-spotlight p {
    color: black;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    text-align: left;
    margin-bottom: 60px;
}

.pickup {
    margin-top: 35px;
}

.book-spotlight input[type="radio"] {
    accent-color: #16697a;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 30px;

}

.book-spotlight label {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

.book-spotlight h1 {
    color: #292727;
    font-size: 35px;
    padding: 0;
    text-align: left;
}

.book-spotlight h2 {
    color: #489fb5;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: left;
}

.book-spotlight a {
    text-decoration: none;
}

.book-spotlight-button {
    background-color: #489fb5;
    width: 290px;
    height: 50px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 28px;
    margin-right: 30px;
    color: white;
    text-align: center;
}

.book-spotlight-button-last {
    background-color: #489fb5;
    width: 290px;
    height: 50px;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px !important;
    color: white;
    text-align: center;
}

.pickup {
    margin-top: 35px;
}

.book-spotlight input[type="radio"] {
    accent-color: #16697a;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 30px;
}

/*grid for mobile spotlight*/

.col-spotlight {
    display: flex;
}

.col-pickup {
    display: flex;
    flex-direction: column;
}

.col-buttons {
    display: flex;
}

.pt-70 {
    padding-top: 70px;
}

@media screen and (max-width: 1260px) {
    .book-spotlight-img {
        height: 400px;
        width: 553px;
        margin-right: 50px;
    }

    .book-spotlight-button  {
        font-size: 20px;
        padding: 6px;
    }

    .book-spotlight-button-last {
        font-size: 20px;
        padding: 6px;
    }

    .book-spotlight label {
        font-size: 18px;
    }
}

@media screen and (max-width: 1020px) {

    .book-spotlight p {
        font-size: 18px;
    }
}

@media screen and (max-width: 580px) {

    .book-spotlight-img {
        height: 200px;
        width: 125px;
        object-fit: cover;
        margin: 30px;
        margin-right: 70px;
    }

    .book-spotlight h1 {
        color: #292727;
        font-size: 20px;
        padding: 0;
        text-align: left;
    }

    .book-spotlight h2 {
        color: #489fb5;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        text-align: left;
    }

    .book-spotlight p {
        color: black;
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
        margin-bottom: 10px;
    }

    .book-spotlight-button {
        background-color: #489fb5;
        width: 90px;
        height: 23px;
        font-size: 30px;
        color: white;
        margin: 30px;
    }

    .book-spotlight input[type="radio"] {
        display: none;
    }

    .book-spotlight label {
        display: none;
    }
}