.wrapper{
    padding: 10px;
    margin: 60px;
    justify-content: center;
    margin-top: 40px;
    height: 800px;
    width: auto;
    position: relative;
    
}

.description{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    width: 353px;
    padding: 5px;
    
}

.title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
    
}

.card{
    overflow: hidden;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height: 655px;
    width: 353px;
   
    
}

.price{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
    
}

.image{
    width: 353px;
    height: 472px;
    object-fit: cover;
}

/*puts dots outside of the carousel */
.carousel-item-padding-40-px{
    padding: 40px;
}

/* styling the dots */
.react-multi-carousel-dot button{
    border-color: black;
    
}
 
/* styling the arrows */
.react-multiple-carousel__arrow{
    background-color: black;
    color: white;
    position: absolute;
    top: 35%;
  
}

/*positioning the left arrow*/
.react-multiple-carousel__arrow--left{
    left: calc(-2% + 1px);
}

/*positioning the right arrow*/
.react-multiple-carousel__arrow--right{
    right: calc(-2% + 1px);
}

/* allows arrows to be outside of the carousel */
.react-multi-carousel-list{
    position: unset !important;
}



