input,
textarea {
  font-family: 'Nunito Sans', sans-serif;
  /* width: 500px; */
}


.contact-heading {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.form-row {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 616px;
  gap: 20px;
  margin-top: 5px;
}

.form-column {
  margin: 0px 2px;

}


.form-column1 {
  width: inherit;
  margin: 0px 2px;
}

.required-input-contact {
  font-size: 12px;
}

.required-input-contact::after {
  content: "*";
  color: red;
}

@media (max-width: 700px) {
  .form-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 200px;

  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 0px;
    gap: 0px;
    margin-top: 5px;

  }

  .form-about-submit-btn {
    min-width: 100%;
  }

  .max {
    margin-right: 20px;
  }

  .form-column1 {
    width: inherit;
    margin: 0px 2px;
  }
}




.form-input,
.form-textarea {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 8px;
  padding-right: 185px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #575757;
  border-radius: 2px;
  font-size: 10px;

}

.form-textarea-m {

  margin-top: 2px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 40px;
  border: 2px solid #575757;
  border-radius: 2px;
  font-size: 10px;
  min-width: 102.7%;


}


.form-container {
  display: grid;
  justify-content: center;
  margin-top: 75px;

}


.form-textarea {
  margin: 3px;
  padding-left: 3px;
  padding-right: 42px;
  padding-top: 3px;
  padding-bottom: 40px;
}



.max {

  margin-bottom: 5px;
  margin-top: -5px;
  font-size: 10px;

}



.form-columnb {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.form-about-submit-btn {
  display: inline !important;
  text-align: center;
  width: 200px;
  height: 34px;
  border-width: 1px;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 15, 15);
  margin-bottom: 125px;

}

.form-about-submit-btn:hover {
  border-width: 0px;
  color: rgb(255, 255, 255);
  background-color: #F2C202;
}