.banner{
    margin: 0;
    padding: 0;
    background-image: url(/images/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    
}

h1{
    font-size: 72px;
    font-family: 'Saira', sans-serif;
    
}

