.background-home {
    background-color: #E8E8E8;
}

.background-blog {
    background-color: #99BDC8;
}

.past-spotlights-content {
    columns: 4 auto;
    padding-right: 15px;
    align-content: center;
    padding: 20px;
    column-gap: 15px;
}

.past-spotlights-text {
    text-align: left;
}

.description{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    width: 353px;
    padding: 5px;
}

.title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
}

.price{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-weight: 600;
    text-align: left;
}

.image-card {
    object-fit: cover;
    width: 240px;
    padding-bottom: 20px;
}

.date {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

/* .card {
    height: auto;
} */

.wrapper{
    padding: 10px;
    margin: 60px;
    justify-content: center;
    margin-top: 40px;
    height: 800px;
    width: auto;
    position: relative;
    margin-top: 5px;
}

/*creates row and col grids*/
.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 1250px) {
    .past-spotlights-content {
        columns: 2 auto;
        row-gap: 20px;
    }
}

@media (max-width: 820px) {

    .past-spotlights-content {
        columns: 1 auto;
    }
}