.partner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 200px 250px;
  grid-gap: 100px;
}

.about-img-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  float: left;
  transform: scale(1.8);
}

.img-partner {
  width: 400px;
}

.partner-text-container {
  margin-bottom: -50px;
}

.partner-body-text {
  font-family: "Nunito", sans-serif !important;
}

.text-final {
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 1537px) {
  .partner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 200px 200px;
    grid-gap: 100px;
  }
}

@media (max-width: 1537px) {
  .partner-container {
    margin: 200px 125px;
  }
}

@media (max-width: 1237px) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    margin: 150px 100px;
  }

  .partner-text-container {
    margin-bottom: -50px;
  }
}

@media (max-width: 750px) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 75px;
  }
}

@media (max-width: 600px) {
  .partner-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 50px;
  }
}

@media only screen and (max-width: 1700px) and (min-width: 1538px) {
  .about-img-container{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1460px) and (min-width: 1200px) {
  .about-img-container {
    margin-right: 80px;
  }

  .img-partner {
    width: 300px;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 200px) {
  .about-img-container {
    margin-left: auto;
  }

  .img-partner {
    width: 250px;
  }
}

@media only screen and (max-width: 1054) and (min-width: 200px) {
  .about-img-container {
    margin-left: auto;
  }

  .img-partner {
    width: 200px;
  }
}