.fresh-off-press {
    text-align: center;
    font-size: 30px;
    padding: 0;
}

.spotlight{
    background-color: #292727;
}

.spotlight h1{
    color: #f2c202;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.spotlight p{
    color: white;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;;
    font-weight: 200;
}