*{
    box-sizing: border-box;
}

body {
 margin: 0;
}

.nav {
    background-color: #292727;
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav a{
    color:inherit;
}