.navbar li {
  list-style-type: none;
}
.nav-bar-mid{
  margin-left: 50px;
}

.navbarcontainer {
  background-color: #292727;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 130px;
  
}

.nav-container {
  grid-area: 2 / 2 / 3 / 3;
}


.cart-icon{
  display: grid;
 
  margin-top: 50px;

}
.logo {
  margin-top: 32px;
  margin-left: 50px;
  display: grid;
  
}

.navbar {
  display: flex;
  justify-content: left;
  align-items: left;
  align-content: left;
  font-size: 25px;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  padding-top: 0px;
  justify-content: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  
}

.greenNav {
  display: flex;
  height: 45px;
  background-color: #859C44;
  justify-content: center;
  font-weight: 400;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  size: 2px;
}

.navbarcontainer img {
  width: 180px;
}

.fa-firstdraft {
  margin-left: 30px;
  font-size: 25px;
}
.cart-icon{
  display: grid;
  justify-content: center
}
.fa-cart-shopping {
  font-size: 40px;
  
}

.nav-item {
  display: flex;
  align-items: center;
  padding-right: 45px;
  font-weight: 400;
}

.nav-item-last {
  display: flex;
  align-items: center;
  padding-right: 0px;
  font-weight: 600;
}

.green-nav-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.searchcontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.searchbar {
  width: 800px;
  font-size: 15px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 2px 0px 0px 2px;
 
  
}

.searchbutton {
  background-color: #f2c202;
  height: 35px;
  width: 45px;
  border-radius: 0px 2px 2px 0px;
  font-size: 16px;
  border-width: 0px;
  cursor: pointer;
}
.nav-item-end{
  padding-right: 0px;
  
}

@media screen and (max-width: 1365px) {
  .logo img {
    width: 155px;
  }
     .searchbar {
       width: 700px;
     }
  
     .nav-item {
       font-size: 23px;
  
     }
  
     
     .nav-item {
       font-size: 21px;
  
     }
  
     .nav-item-end {
       font-size: 21px;
     }
}

@media screen and (max-width: 1250px) {
  .searchbar {
    width: 600px;
  }

  .nav-item {
    font-size: 23px;
    
  }
 
  .nav-item{
    font-size: 18px;
    
  }
  .nav-item-end{
    font-size: 18px;
  }
}

@media screen and (max-width: 1140px) {
  .searchbar {
      width: 500px;
    }
  
    
    .nav-item {
      font-size: 15px;
  
    }
  
    .nav-item-end {
      font-size: 15px;
    }
}




@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
  .cart-icon{
    display: none;
  }

  .fa-bars {
    margin-top: 25px;
  }

  .greenNav {
    display: none;
  }

  .NavbarItems {
    position: relative;
  }

  .navbarcontainer {
    height: 150px;
  }

 

  .logo img {
    width: 150px;
  }

  /* this one effects items appearing outside of mobile menu */
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 150px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #292727;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;

  }

  .nav-item {
    padding-right: 0px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .nav-item-end{
    font-size: 1.5rem;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #5d6475;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: 50px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 20px;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
    margin-right: 5px;
    margin-top: 20px;
    font-weight: 600;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #292727;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #5d6475;
    transition: 250ms;
  }

  .navbar button {
    display: none;
  }

  .searchcontainer {
    display: none;
  }
}