.newsletter{
    display: flex;
    background-color: #292727;
    padding: 40px;
}

.newsletter h1{
    color: white;
    font-size: 3vw;
    font-weight: 800;
    margin-right: 10%;
    
}

  .newsletter input {
       
        font-size: 12px;
        margin-top: 5px;
        width: 17vw;
        height: 6vh;
        margin-top: 3%;
        margin-bottom: auto;
    }

@media (max-width: 1504px) {
    div.fresh-off-press h2 {
        text-align: center;
        font-size: 3vw;
        padding: 10px;
        margin-top: 30px;
    }

    .turner h2 {
        margin-top: 55px;
        font-size: 50px;
        color: #16697A;
    }

   .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 22vw;
        height: 22vw;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
        margin-left: 70px;
    }

    .spotlight h1 {
        color: white;
        font-size: 2.8vw;
        padding: 0;
        margin-left: 40px;
        
        text-align: left;
    }

    h1.spot2 {
        color: #489fb5;
    }

    .spotlight p {
        color: white;
        font-size: 1.4vw;
        padding-right: 30px;
        margin-right: 40px;
        margin-top: 25%;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
        width: 100%;
    }

    div.spotlight-text {
        width: 220vw;
        margin-top: 15%;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: flex;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }

    .testimonials1 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin-right: 20px;
    }

    .testimonials2 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin-right: 20px;
        margin-left: 20px;
    }

    .testimonials3 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin-left: 20px;
    }

    .learn {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

   .community {
        background-color: #82C0CC;
        display: flex;
        
    }

    img.comimg {
        width: 22vw;
        height: 30vw;
        object-fit: cover;
        padding: 20px;
        margin-right: -10px;
        margin-top: 10%;
        margin-left: 10%;
        opacity: .85;
    }

     img.comimg1 {
        width: 22vw;
        height: 30vw;
        object-fit: cover;
        padding: 20px;
        margin-top: .5vw;
        margin-left: 10%;
        opacity: .85;
    }

     img.comimg2 {
        width: 23vw;
        height: 12vw;
        object-fit: cover;
        padding: 20px;
        margin-top: 6%;
        margin-bottom: -3.5%;
        margin-left: 10%;
        opacity: .85;
    }

    .community h1 {
        color: #489FB5;
        font-size: 6vw;
        padding: 0;
        margin-left: 80px;
        margin-top: 95px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 1.4vw;
        padding: 0;
        margin: 0;
        margin-left: 80px;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        text-align: left;
        width: 35vw;
        
    }

     .community button {
        background-color: #489FB5;
        width: 15vw;
        height: 3vw;
        font-size: 1.7vw;
        color: white;
        margin-left: 60%;
        margin-top: 20px;
        cursor: pointer;
    }

    .community button:hover{
        opacity: .50;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        background-color: #489FB5;
        padding: 40px;
    }

    .instagram h2 {
        font-size: 3vw;
        color: #82C0CC;
    }

    .instaposts {
        padding: 20px;
        margin: 40px;
    }

    .instaposts iframe {
        padding: 10px;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 1505px) {
    .fresh-off-press h2 {
        text-align: center;
        font-size: 3vw;
        padding: 0;
        margin-top: 30px;
    }

    .turner h2 {
        margin-top: 55px;
        font-size: 60px;
        color: #16697A;
    }

    .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 22vw;
        height: 22vw;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
        margin-left: 70px;
    }

    .spotlight h1 {
        color: white;
        font-size: 2.8vw;
        padding: 0;
        margin-left: 40px;
        
        text-align: left;
    }

    h1.spot2 {
        color: #489fb5;
    }

    .spotlight p {
        color: white;
        font-size: 1.4vw;
        padding-right: 30px;
        margin-right: 40px;
        margin-top: 25%;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
        width: 100%;
    }

    div.spotlight-text {
        width: 220vw;
        margin-top: 15%;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: flex;
        padding: 40px;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .testimonials1 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin-right: 20px;
        margin-left: 30px;
    }

    .testimonials2 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin-right: 20px;
        margin-left: 20px;
    }

    .testimonials3 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin-left: 20px;
    }

    .learn {
        padding: 25px;
    }

    .community {
        background-color: #82C0CC;
        display: flex;
        
    }

    img.comimg {
        width: 22vw;
        height: 30vw;
        object-fit: cover;
        padding: 20px;
        margin-right: -10px;
        margin-top: 10%;
        margin-left: 10%;
        opacity: .85;
    }

     img.comimg1 {
        width: 22vw;
        height: 30vw;
        object-fit: cover;
        padding: 20px;
        margin-top: .5vw;
        margin-left: 10%;
        opacity: .85;
    }

     img.comimg2 {
        width: 23vw;
        height: 12vw;
        object-fit: cover;
        padding: 20px;
        margin-top: 6%;
        margin-bottom: -3.5%;
        margin-left: 10%;
        opacity: .85;
    }

    .community h1 {
        color: #489FB5;
        font-size: 6vw;
        padding: 0;
        margin-left: 80px;
        margin-top: 95px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 1.4vw;
        padding: 0;
        margin: 0;
        margin-left: 80px;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        text-align: left;
        width: 35vw;
        
    }

    .community button {
        background-color: #489FB5;
        width: 15vw;
        height: 3vw;
        font-size: 1.7vw;
        color: white;
        margin-left: 60%;
        margin-top: 20px;
        cursor: pointer;
    }

    .community button:hover{
        opacity: .50;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        background-color: #489FB5;
        padding: 40px;
    }

    .instagram h2 {
        font-size: 4vw;
        color: #82C0CC;
    }

    .instaposts {
        padding: 20px;
        margin: 40px;
    }

    .instaposts iframe {
        padding: 10px;
    }
}

@media (max-width: 918px) and (min-width: 481px) {
    .fresh-off-press h2 {
        font-size: 30px;
        margin-top: 5px;
    }

    .turner h2 {
        margin-top: 5px;
        font-size: 30px;
    }

   .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 28vw;
        height: 28vw;
        object-fit: cover;
        padding: 20px;
        margin-top: 10px;
        margin-left: 70px;
    }

    .spotlight h1 {
        color: white;
        font-size: 2.8vw;
        padding: 0;
        margin-left: 40px;
        
        text-align: left;
    }

    h1.spot2 {
        color: #489fb5;
    }

    .spotlight p {
        color: white;
        font-size: 1.4vw;
        padding-right: 30px;
        margin-right: 40px;
        margin-top: 25%;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
        width: 100%;
    }

    div.spotlight-text {
        width: 220vw;
        margin-top: 15%;
    }

    .testimonials {
        height: 400px;
        width: auto;
        padding: 40px;
        display: table-row;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .testimonials1 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .testimonials2 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .testimonials3 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .learn {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
    }

   
    .calender-button {
        display: flex;
        justify-content: space-evenly;
    }

    .community button {
        width: 153px;
        height: 33px;
        font-size: 22px;
        margin-left: 40px;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .instaposts {
        margin: auto;
    }

    .instaposts iframe {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .fresh-off-press h2 {
        text-align: center;
        font-size: 35px;
        padding: 0;
        margin-top: 20px;
    }

    .spotlight {
        background-color: #292727;
        display: flex;
        flex-direction: column;
    }

    .spotlight img {
        width: 80vw;
        height: 80vw;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
    }

    h1.spot1 {
        color: white;
        font-size: 35px;
        padding: 0;
        margin-left: 10px;
        margin-top: -30px;
        text-align: left;
    }

     h1.spot2 {
        color: #489fb5;
        font-size: 35px;
        padding: 0;
        margin-left: 10px;
        margin-top: -18px;
        text-align: left;
    }

    .spotlight p {
        color: white;
        font-size: 19px;
        padding: 0;
        margin: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
        width: 92%;
    }

    .spotlight button {

        width: 170px;
        height: 45px;
        font-size: 20px;
        font-weight: 600;
    }

    .learn {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .turner h2 {
        margin-top: 25px;
        font-size: 20px;
        color: #16697A;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: table-row;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .testimonials1 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin: 20px;
    }

    .testimonials2 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin: 20px;
    }

    .testimonials3 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin: 20px;
    }


    .community {
        background-color: #82C0CC;
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
    }

     img.comimg{
        display: none;
    }

    img.comimg1{
        display: none;
    }

    img.comimg2{
        display: none;
    }


    .community h1 {
        color: #489fb5;
        font-size: 60px;
        padding: 0;
        margin-left: 0;
        margin-top: 50px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 18px;
        width: auto;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        text-align: left;
    }

    .calender-button {
        display: flex;
        justify-content: space-evenly;
    }

    .community button {
        background-color: #489fb5;
        color: white;
        width: 170px;
        height: 45px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .instagram {
        display: table-cell;
        padding: 20px;
    }

    .instaposts {
        padding: 20px;
        margin-top: 20px;
        margin: auto;
    }

    .instaposts iframe {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1728px) and (max-width: 1600px) {

    .spotlight p {
        font-size: 20px;
    }

    .visit img {
        width: 500px;
        height: 500px;
    }


}





@media (max-width: 480px) {
      div.fresh-off-press h2 {
        font-size: 30px;
    }

      .turner h2 {
        font-size: 30px;
    }
    .newsletter {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr); */
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .newsletter h1 {
        font-size: 21px;
        text-align: center;
        margin-top: 20px;
        grid-area: 1 / 1 / 2 / 3;
    }

 
    

    .newsletter input {
       
        font-size: 12px;
        margin-top: 5px;
        width: 85vw;
        
    }

    .newsletter button {
        margin-top: 5px;
        width: auto;
        font-size: 15px;
    }

    div.instagram{
        display: none;
    }

    .testimonials1 {
        width: 350px;
        height: 100px;
    }

     .testimonials1 p{
        font-size: 12px;
    }

    .testimonials2 {
        width: 350px;
        height: 100px;
    }

    .testimonials2 p{
        font-size: 12px;
    }

    .testimonials3 {
        width: 350px;
        height: 100px;
    }

    .testimonials3 p{
        font-size: 12px;
    }
}