@media (max-width: 1504px) {
    .fresh-off-press h2 {
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    .turner h2 {
        margin-top: 55px;
        font-size: 50px;
        color: #16697A;
    }

    .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 478px;
        height: 478px;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
    }

    .spotlight h1 {
        color: #f2c202;
        font-size: 60px;
        padding: 0;
        margin-left: 40px;
        margin-top: 50px;
        text-align: left;
    }

    .spotlight p {
        color: white;
        font-size: 20px;
        padding: 0;
        margin: 0;
        margin-left: 40px;
        margin-right: 5px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
    }

    .spotlight button {
        background-color: #489fb5;
        width: 315px;
        height: 87px;
        font-size: 34px;
        color: white;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: flex;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 32px;
        text-align: center;
        padding: 10px;
    }

    .testimonials1 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin-right: 20px;
    }

    .testimonials2 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin-right: 20px;
        margin-left: 20px;
    }

    .testimonials3 {
        width: 560px;
        height: 300px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin-left: 20px;
    }

    .learn {
        padding: 25px;
    }

    .community {
        background-color: #16697A;
        display: flex;
        height: 593px;
    }

    .community img {
        width: 478px;
        height: 478px;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
    }

    .community h1 {
        color: #f2c202;
        font-size: 60px;
        padding: 0;
        margin-left: 40px;
        margin-top: 50px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 30px;
        padding: 0;
        margin: 0;
        margin-left: 40px;
        margin-right: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        text-align: left;
        width: auto;
        height: auto;
    }

    .community button {
        background-color: #489fb5;
        width: 315px;
        height: 87px;
        font-size: 34px;
        color: white;
        margin-top: 10px;
        margin-left: 40px;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        background-color: #16697A;
        padding: 40px;
    }

    .instagram h2 {
        font-size: 50px;
        color: #f2c202;
    }

    .instaposts {
        padding: 20px;
        margin: 40px;
    }
        
    .instaposts iframe {
        padding: 10px;
    }
}

@media only screen and (max-width: 2500px) and (min-width: 1505px) {
    .fresh-off-press h2 {
        text-align: center;
        font-size: 50px;
        padding: 0;
    }

    .turner h2 {
        margin-top: 55px;
        font-size: 50px;
        color: #16697A;
    }

    .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
        margin-left: 70px;
    }

    .spotlight h1 {
        color: #f2c202;
        font-size: 60px;
        padding: 0;
        margin-left: 40px;
        margin-top: 50px;
        text-align: left;
    }

    .spotlight p {
        color: white;
        font-size: 20px;
        padding: 0;
        margin: 0;
        margin-left: 40px;
        margin-right: 20px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
    }

    .spotlight button {
        background-color: #489fb5;
        width: 315px;
        height: 87px;
        font-size: 34px;
        margin-left: 15px;
        color: white;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: flex;
        padding: 40px;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 32px;
        text-align: center;
        padding: 10px;
    }

    .testimonials1 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin-right: 20px;
        margin-left: 30px;
    }

    .testimonials2 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin-right: 20px;
        margin-left: 20px;
    }

    .testimonials3 {
        width: 660px;
        height: 349px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin-left: 20px;
    }

    .learn {
        padding: 25px;
    }

    .community {
        background-color: #16697A;
        display: flex;
        height: 973px;
    }

    .community img {
        width: 741px;
        height: 776px;
        object-fit: cover;
        padding: 20px;
        margin-top: 95px;
        margin-left: 80px;
    }

    .community h1 {
        color: #f2c202;
        font-size: 65px;
        padding: 0;
        margin-left: 80px;
        margin-top: 95px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 50px;
        padding: 0;
        margin: 0;
        margin-left: 80px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        text-align: left;
        width: 797px;
        height: 520px;
    }

    .community button {
        background-color: #489fb5;
        width: 315px;
        height: 87px;
        font-size: 34px;
        color: white;
        margin-top: 120px;
        margin-left: 80px;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        background-color: #16697A;
        padding: 40px;
    }

    .instagram h2 {
        font-size: 50px;
        color: #f2c202;
    }

    .instaposts {
        padding: 20px;
        margin: 40px;
    }
    
    .instaposts iframe {
        padding: 10px;
    }
}

@media (max-width: 918px) and (min-width: 481px) {
    .fresh-off-press h2 {
        font-size: 30px;
        margin-top: 5px;
    }

    .turner h2 {
        margin-top: 5px;
        font-size: 30px;
    }

    .spotlight img {
        width: 235px;
        height: 276px;
        padding: 20px;
        margin-top: 30px;
    }

    .spotlight h1 {
        font-size: 35px;
        margin-left: 5px;
        margin-top: 30px;
    }

    .spotlight p {
        color: white;
        font-size: 18px;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .spotlight button {
        width: 153px;
        height: 33px;
        font-size: 22px;
    }

    .testimonials {
        height: 400px;
        width: auto;
        padding: 40px;
        display: table-row;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .testimonials1 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .testimonials2 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .testimonials3 {
        width: auto;
        height: 112px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .learn {
        padding: 25px;
    }

    .community {
        height: auto;
        width: auto;
    }

    .community img {
        width: 300px;
        height: 300px;
        padding: 20px;
        margin-top: 85px;
        margin-left: 20px;
    }

    .community h1 {
        color: #f2c202;
        font-size: 35px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 22px;
        width: auto;
        height: auto;
        text-align: left;
        margin-right: 5px;
    }

    .community button{
        width: 153px;
        height: 33px;
        font-size: 22px;
        margin-left: 40px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .instaposts {
        margin: auto;
    }
    
    .instaposts iframe {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .fresh-off-press h2 {
        text-align: center;
        font-size: 25px;
        padding: 0;
        margin-top: 20px;
    }

    .spotlight {
        background-color: #292727;
        display: flex;
    }

    .spotlight img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        padding: 20px;
        margin-top: 55px;
    }

    .spotlight h1 {
        color: #f2c202;
        font-size: 25px;
        padding: 0;
        margin-left: 0;
        margin-top: 30px;
        text-align: left;
    }

    .spotlight p {
        color: white;
        font-size: 18px;
        padding: 0;
        margin: 0;
        margin-left: 0;
        margin-right: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        text-align: left;
    }

    .spotlight button {
        width: 150px;
        height: 35px;
        font-size: 20px;
    }

    .learn {
        padding-left: 40px;
    }

    .turner h2 {
        margin-top: 25px;
        font-size: 20px;
        color: #16697A;
    }

    .testimonials {
        height: 400px;
        padding: 40px;
        display: table-row;
    }

    .testimonials p {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .testimonials1 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #f2c202;
        margin: 20px;
    }

    .testimonials2 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #7e9e32;
        margin: 20px;
    }

    .testimonials3 {
        width: 400px;
        height: 112px;
        border-style: solid;
        border-width: 3px;
        border-color: #16697A;
        margin: 20px;
    }

    .community-container {
        width: 1300px;
    }

    .community {
        background-color: #16697A;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .community img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding: 20px;
        margin-top: 70px;
    }

    .community h1 {
        color: #f2c202;
        font-size: 25px;
        padding: 0;
        margin-left: 0;
        margin-top: 50px;
        text-align: left;
    }

    .community p {
        color: white;
        font-size: 18px;
        width: auto;
        height: auto;
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        text-align: left;
    }

    .community button {
        background-color: #489fb5;
        color: white;
        width: 150px;
        height: 35px;
        font-size: 20px;
        margin-top: 0;
    }

    .instagram {
        display: table-cell;
        padding: 20px;
    }

    .instaposts {
        padding: 20px;
        margin-top: 20px;
        margin: auto;
    }

    .instaposts iframe{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1728px) and (max-width: 1600px) {

    .spotlight p {
        font-size: 20px;
    }

    .newsletter h1 {
        font-size: 40px;
    }

    .visit img {
        width: 500px;
        height: 500px;
    }


}


/*newsletter*/
@media (min-width: 1900px) {
    .newsletter {
        background-color: #292727;
        color: #fff4da;
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: center;
    }

    .newsletter h1 {
        font-size: 60px;
        margin-top: 20px;
        margin-right: 100px;
    }

    .newsletter input {
        height: 60px;
        width: 491px;
        margin-top: 25px;
        font-size: 15px;
    }

    .newsletter button {
        height: 60px;
        width: 200px;
        margin-top: 25px;
        font-size: 35px;
        background-color: grey;
    }
}

@media (max-width: 1899px) {
    .newsletter {
        background-color: #292727;
        color: #fff4da;
        display: flex;
        height: 100px;
        justify-content: center;
    }

    .newsletter h1 {
        font-size: 40px;
        margin-top: 20px;
        margin-right: 100px;
    }

    .newsletter input {
        height: 50px;
        width: 300px;
        margin-top: 25px;
        font-size: 15px;
    }

    .newsletter button {
        height: 50px;
        width: 125px;
        margin-top: 25px;
        font-size: 30px;
        background-color: grey;
    }
}

@media (max-width: 1400px) {
    .newsletter {
        background-color: #292727;
        color: #fff4da;
        display: flex;
        height: 90px;
        justify-content: center;
    }

    .newsletter h1 {
        font-size: 35px;
        margin-top: 20px;
        margin-right: 100px;
    }

    .newsletter input {
        height: 50px;
        width: 300px;
        margin-top: 25px;
        font-size: 15px;
    }

    .newsletter button {
        height: 50px;
        width: 125px;
        margin-top: 25px;
        font-size: 25px;
        background-color: grey;
    }
}

@media (max-width: 1150px) {
    .newsletter {
        background-color: #292727;
        color: #fff4da;
        display: flex;
        height: auto;
        justify-content: center;
    }

    .newsletter h1 {
        font-size: 25px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .newsletter input {
        height: 50px;
        width: 500px;
        margin-top: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .newsletter button {
        height: 50px;
        width: 125px;
        margin-top: 40px;
        font-size: 20px;
        background-color: grey;
        margin-right: 30px;
    }
}

@media (max-width: 900px) {
    .newsletter input {
        height: 50px;
        width: 400px;
        margin-top: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 650px) {
    .newsletter h1 {
        font-size: 15px;
    }

    .newsletter input {
        height: 50px;
        width: 300px;
        margin-top: 40px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .newsletter button {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .newsletter {
        background-color: #292727;
        color: #fff4da;
        width: auto;
        justify-content: center;
        display: flex;
    }

    .newsletter h1 {
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .newsletter input {
        width: auto;
        font-size: 12px;
        margin-top: 20px;
    }

    .newsletter button {
        margin-top: 20px;
        width: auto;
        font-size: 15px;
    }
}