.react-calendar__tile--active {
    background-color: none;
}

.calendar-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: var();
    margin: 50px;
    justify-content: center;
}

.events {
    width: 500px;
    height: 500px;
    background-color: #16697A;

}

.event-title {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    color: #F2C102;

}

.event-list {
    display: flex;

    margin-left: 30px;
    color: white;
    margin-top: 350px;

}


.react-calendar {

    font-size: 1.55rem;
    width: 500px;
    height: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(160, 160, 150);
    line-height: 1.125em;

    background-color: #FCF9F0;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #E7F1CB;
    font-size: 0.5em;
}

.react-calendar__navigation {
    background-color: #849C44;
    height: 70px;


}

.react-calendar button {
    margin: 0px;
    height: 60px;
    border: 0;
    outline: none;

}

.react-calendar__tile--now {
    background-color: #EAC342;
}

.react-calendar__month-view__days {
    background-color: #FCF9F0;
}

.event-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
}

.dot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

@media (max-width: 501px) {
    .react-calendar {
        width: 300px;

    }

    .events {
        width: 300px;
        height: 250px;
    }
}