div.header-container{
    background-color: #292727;
    display: flex;
}


img.hero {
   max-height: 40vw;
   margin-left: -25%;
   opacity: .75;
}

h1.head1 {
    font-size: 15vw;
    margin-left: 10%;
    color: white;
}

h1.head2 {
    font-size: 13vw;
    margin-left: 10%;
    color: #82c0cc;
    margin-top: -18%;
}