.hero-banner {
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
}

.donate-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 200px;
    justify-content: center;
}

.donate-radiobuttons{
    font-size: 20px;
    font-weight: bold;
}

input[type="radio"]{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    vertical-align: sub;
}

#accent-color{
    accent-color: #7e9e32;
}

.donate-header{
    font-size: 50px;
    padding-top: 25px;
    text-align: center;
}

.donate-container form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1000px;
    gap: 1rem;
}

.donate-input {
    min-width: 100%;
    min-height: 75%;
}

.full-width {
    grid-column: span 2;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 200px;
    justify-content: center;
    background-color: #82c0cc;
    border-radius: 5px;
}

.faq-title {
    text-align: center;
    padding: 20px;
    color: white;
}

.faqs {
    margin: 15px;
    padding: 15px;
    background-color: white;
    color: #489fb5;
    border-radius: 5px;
}

.faq-question {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.faq-answer {
    position: relative;
    font-size: 15px;
    padding-bottom: 25px;
}

@media (max-width: 700px) {
    .donate-container{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 200px;
    }

    .faq-container{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 200px;
    }
}

.sub-title {
    color: #489fb5;
}

.required-input::after {
    content: "*";
    color: red;
}

.donate-input{
    background-color: #ffffff;
    border: 1px solid;
    height: 45px;
}

.donate-submitbutton {
    text-align: center;
    width: 200px;
    height: 34px;
    border-width: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    margin-bottom: 125px;

}

.donate-submitbutton:hover {
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #F2C202;
}

@media (max-width: 1886px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/hero.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    
}
}

@media (max-width: 1887px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
    
}
}

@media (max-width: 1094px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    width: auto;
    
}
}

@media (max-width: 1002px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 350px;
    width: auto;
    
}
}

@media (max-width: 900px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 150px;
    width: auto;
    
}
}

@media (max-width: 1382px) {
.hero-banner{
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    
}
}

@media (min-width: 1888px) {
    .hero-banner {
            margin: 0;
            padding: 0;
            background-image: url('../../images/donatetrade.png');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            height: 850px;
            width: auto;
}
}



@media (max-width: 480px) {
   .hero-banner {
            margin: 0;
            padding: 0;
            background-image: url('../../images/donatetrade.png');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            height: 200px;
            width: auto;
}
}
