.hero-banner {
    margin: 0;
    padding: 0;
    background-image: url(/images/donatetrade.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
}

.donate-container {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 200px;
    justify-content: center;
}

.donate-header{
    font-size: 50px;
    padding-top: 25px;
    text-align: center;
}

.donate-container form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 800px;
    gap: 1rem;
}

.donate-container input {
    min-width: 100%;
    min-height: 75%;
}

.full-width {
    grid-column: span 2;
}

@media (max-width: 700px) {
    .donate-container {
        display: flex;
        flex-wrap: wrap;
        margin: 100px 200px;

    }
}

.sub-title {
    color: #489fb5;
}

.required-input::after {
    content: "*";
    color: red;
}

.donate-input{
    background-color: #ffffff;
    border: 1px solid;
    height: 45px;
}

.donate-submitbutton {
    text-align: center;
    width: 200px;
    height: 34px;
    border-width: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    margin-bottom: 125px;

}

.donate-submitbutton:hover {
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #F2C202;
}



.faq-container {
    padding: 1rem 3rem;
    margin-left: 10rem;
    background-color: #82c0cc;
    border-radius: 5px;
}

.faq-title {
    text-align: center;
    padding: 1rem;
    color: white;
}

.faqs {
    margin: 15px;
    padding: 15px;
    background-color: white;
    color: #489fb5;
    border-radius: 5px;
}

.faq-question{
    background-color: white;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.faq-answer{
    background-color: white;
    position: relative;
    font-size: 15px;
    padding-right: 80px;
    padding-bottom: 25px;
}



.locationhome {
    display: flex;
    padding: 3px;

}

.visit {
    margin-left: 30px;
}

.visit img {
    height: 377px;
    width: 615px;
    padding: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.visit h1 {
    font-size: 55px;
    text-align: left;
}

.address {
    width: 317px;
    margin-top: 90px;
    margin-left: 40px;

}

.address h2 {
    font-size: 45px;
    text-align: left;
}

.address p {
    font-size: 25px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    ;
    font-weight: 300;
}

.address button {
    background-color: #489fb5;
    width: 200px;
    height: 55px;
    font-size: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    ;
    font-weight: 300;
    margin-top: 100px;
}

.hours {
    width: 377px;
    margin-top: 90px;
    margin-left: 40px;

}

.hours h2 {
    font-size: 45px;
    text-align: left;
}

.hours p {
    font-size: 25px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    ;
    font-weight: 300;
    padding: 5px;
}