.hero-banner {
    margin: 0;
    padding: 0;
    background-image: url('../../images/donatetrade.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
}

.donate-heading {
    font-size: 40px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
}

.donate-radiobuttons {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

input[type="radio"] {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    vertical-align: sub;
}

#accent-color {
    accent-color: #7e9e32;
}

input,
textarea {
    font-family: 'Nunito Sans', sans-serif;
}

.donate-sub-title {
    color: #489fb5;
    padding-top: 25px;
}

.donate-form-row {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 616px;
    gap: 20px;
    margin-top: 5px;
}

.donate-form-column {
    margin: 0px 2px;
}

.donate-form-column1 {
    width: inherit;
    margin: 0px 2px;
}

.donate-required-input {
    font-size: 14px;
}

.donate-required-input::after {
    content: "*";
    color: red;
}

.donate-form-input {
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 185px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #575757;
    border-radius: 2px;
    font-size: 10px;
}

.donate-form-input-long {
    margin-top: 2px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #575757;
    border-radius: 2px;
    font-size: 10px;
    min-width: 100%;
}

.donate-container {
    display: grid;
    justify-content: center;
}

.donate-form-column2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.donate-form-submit-btn {
    display: inline !important;
    text-align: center;
    width: 200px;
    height: 34px;
    border-width: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    margin-bottom: 40px;
}

.donate-form-submit-btn:hover {
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #F2C202;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #82c0cc;
    border-radius: 5px;
    margin-bottom: 60px;
    padding-bottom: 30px;
}

.faq-title {
    text-align: center;
    padding: 30px;
    color: white;
    margin: 0 150px;
}

.faqs {
    margin: 15px;
    padding: 15px;
    background-color: white;
    color: #489fb5;
    border-radius: 5px;
}

.faq-question {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.faq-answer {
    position: relative;
    font-size: 15px;
    padding-bottom: 25px;
}

.location-donate {
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}

.visit-donate {
    margin-left: 100px;
}

.visit-donate img {
    height: 377px;
    width: 615px;
    padding: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.visit-donate h1 {
    font-size: 40px;
    text-align: left;
}

.address-donate {
    width: 317px;
    margin-top: 90px;
    margin-left: 100px;
}

.address-donate h1 {
    font-size: 30px;
    text-align: left;
}

.address-donate p {
    font-size: 25px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.address-donate button {
    background-color: #489fb5;
    width: 200px;
    height: 55px;
    font-size: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    margin-top: 30px;
}

.hours-donate {
    width: 377px;
    margin-top: 90px;
    margin-left: 90px;
}

.hours-donate h1 {
    font-size: 30px;
    text-align: left;
}

.hours-donate p {
    font-size: 25px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    padding: 3px;
}


@media (max-width: 700px) {
    .donate-container {
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 50px;
        width: min-content;
    }

    .donate-form-row {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        gap: 0px;
        margin-top: 5px;
    }

    .donate-form-submit-btn {
        min-width: 90%;
    }

    .donate-form-column1 {
        width: 100%;
    }

    .faq-container {
        width: 350px;
        margin: 0 auto;
    }

    .location-donate {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .visit-donate {
        margin-left: 0px;
        padding-top: 40px;
    }

    .address-donate p {
        padding-left: 20px;
    }

    .address-donate button {
        margin-left: 20px;
    }

    .visit-donate img {
        padding: 0px;
        margin-left: 0;
        width: 100px;
        height: auto;
    }

    .address-donate {
        margin-left: 0px;
        margin-top: 30px;
    }

    .hours-donate {
        margin-left: 0px;
        margin-top: 30px;
    }

    .hours-donate p {
        padding-left: 20px;
    }
}

@media (max-width: 1886px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/hero.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 600px;
        width: auto;

    }
}

@media (max-width: 1887px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 700px;
        width: auto;

    }
}

@media (max-width: 1094px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 400px;
        width: auto;

    }
}

@media (max-width: 1002px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 350px;
        width: auto;

    }
}

@media (max-width: 900px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 150px;
        width: auto;

    }
}

@media (max-width: 1382px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 500px;
        width: auto;

    }
}

@media (min-width: 1888px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 850px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .hero-banner {
        margin: 0;
        padding: 0;
        background-image: url('../../images/donatetrade.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        height: 200px;
        width: auto;
    }
}

@media only screen and (max-width: 1610px) and (min-width: 701px) {
    .location-donate{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .address-donate{
        margin-top: 25px;
    }

    .hours-donate{
        margin-top: 40px;
        margin-bottom: 50px;
    }
}