.donate-container{
    margin: 0 auto;
    padding: 4rem 0;
    width: 90%;
    max-width: 80rem;
}

form{
    grid-template-columns: 1fr 1fr;
    display: grid;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
    gap: 2rem;
}

.donate-container input{
    min-width: 100%;
    min-height: 75%;
}

.full-width{
    grid-column: span 2;
}

.form-submit{
    width: 200px;
    height: 34px;
    border-width: 1px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    align-self: auto;
}

.form-submit:hover{
    width: 200px;
    height: 34px;
    border-width: 0px;
    color: rgb(255, 255, 255);
    background-color: #F2C202; 
}
  