.image-container1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  float: right;
  transform: scale(1.5);
}

.img-aboutus {
  width: 400px;
}
  
.about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 150px 300px; 
}

.text-container {
  align-self: center;
}

@media only screen and (max-width: 1800px) and (min-width: 1237px) {
  .about-us-container{
    margin: 50px 150px;
  }
  
  .image-container1{
    transform: none;
  }

  .img-aboutus{
    width: 400px;
  }
}

@media (max-width: 1237px) {
  .about-us-container{
    display: flex;
    flex-wrap: wrap;
    margin: 150px 200px;  
    margin-bottom: 50px;
  }

  .image-container1 {
    margin-bottom: 100px;
    margin-top: auto;
  }

  .h1-aboutus {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .about-us-container{
    display: flex;
    flex-wrap: wrap;
    margin: 150px 100px;  
  }
}

@media (max-width: 710px) {
  .about-us-container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 60px;  
    margin-bottom: 50px;
  }
    
  .img-aboutus {
    width: 250px;
  }

  .image-container1{
    margin-bottom: 70px;
    margin-top: auto;
  }

  .h1-aboutus {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .about-us-container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 10px;  
    margin-bottom: 40px;
  }
        
  .h1-aboutus{
    text-align: center;        
  }

  .p-aboutus{
    margin-left: 20px;
  }

  .image-container1{
    margin-top: auto;
    margin-bottom: 50px;
  }

  .img-aboutus{
    width: 250px;
  }
}




@media (min-width: 1900px) {
  .newsletter-aboutus {
    background-color: #292727;
    color: #fff4da;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;


  }

  .newsletter-aboutus h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-right: 100px;

  }

  .newsletter-aboutus input {
    height: 60px;
    width: 491px;
    margin-top: 25px;
    font-size: 25px;

  }

  .newsletter-aboutus button {
    height: 60px;
    width: 200px;
    margin-top: 25px;
    font-size: 35px;
    background-color: grey;

  }
}

@media (max-width: 1899px) {
  .newsletter-aboutus {
      background-color: #292727;
      color: #fff4da;
      display: flex;
      height: 100px;
      justify-content: center;
    }
  
    .newsletter-aboutus h1 {
      font-size: 40px;
      margin-top: 20px;
      margin-right: 100px;
    }
  
    .newsletter-aboutus input {
      height: 50px;
      width: 300px;
      margin-top: 25px;
      font-size: 20px;
    }
  
    .newsletter-aboutus button {
      height: 50px;
      width: 125px;
      margin-top: 25px;
      font-size: 30px;
      background-color: grey;
    }
}

@media (max-width: 1400px) {
  .newsletter-aboutus {
    background-color: #292727;
    color: #fff4da;
    display: flex;
    height: 90px;
    justify-content: center;
  }

  .newsletter-aboutus h1 {
    font-size: 35px;
    margin-top: 20px;
    margin-right: 100px;
  }

  .newsletter-aboutus input {
    height: 50px;
    width: 300px;
    margin-top: 25px;
    font-size: 15px;
  }

  .newsletter-aboutus button {
    height: 50px;
    width: 125px;
    margin-top: 25px;
    font-size: 25px;
    background-color: grey;
  }
}




@media (max-width: 1150px) {
  .newsletter-aboutus {
    background-color: #292727;
    color: #fff4da;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
  }

  .newsletter-aboutus h1 {
    font-size: 35px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .newsletter-aboutus input {
    height: 50px;
    width: 500px;
    margin-top: 25px;
    font-size: 15px;
    margin-left: 200px;
  }

  .newsletter-aboutus button {
    height: 50px;
    width: 125px;
    margin-top: 25px;
    font-size: 25px;
    background-color: grey;
  }
}

@media (max-width: 480px) {
  .newsletter-aboutus {
      background-color: #292727;
      color: #fff4da;
      width: 480px;
      justify-content: center;
      display: table-row;  
    }
  
    .newsletter-aboutus h1 {
      font-size: 15px;
      text-align: center;
    }
  
    .newsletter-aboutus input {
      height: 20px;
      width: 190px;
    }
  
    .newsletter-aboutus button {
      height: 20px;
      width: 30px;
    }
}