div.aboutbackground{
  background-color: #82C0CC;
  
}

h1.h1-aboutus{
  font-size: 40vw;
  font-stretch: 100%;
  transform: scale(.6, 1.2);
  font-weight: 500;
  margin-top: -20%;
  margin-left: -10%;
  color: #7E9E32;
}



.img-aboutus {
  border-radius: 50%;
  width: 20%;
  margin-top: -28%;
  margin-left: 30%;
  position: absolute;
  opacity: 0.8;
}
  
.about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

p.p-aboutus{
  font-size: 2vw;
  margin-left: -30%;
  margin-top: 15%;
  width: 40vw;
  color: #7E9E32;
}



@media (max-width: 420px) {
  .about-us-container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 10px;  
    margin-bottom: 40px;
  }
        
  .h1-aboutus{
    text-align: center;        
  }

  .p-aboutus{
    margin-left: 20px;
  }

  .image-container1{
    margin-top: auto;
    margin-bottom: 50px;
  }

  .img-aboutus{
    width: 250px;
  }
}