/* .filter *{
    flex-direction: column;
   
    display: inline;
} */

.filter h1 {
    font-size: 30px;
}

.genre h3 {
    font-size: 30px;
    color: #292727;
}

.filter h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

.filter legend {
    font-size: 25px;
    color: #292727;

}

.filter input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 8px;

}

.filter label {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;

}

.filter select {
    width: 300px;
    height: 35px;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border: 1px solid #292727;
}

.filter option {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.filter {

    margin-bottom: 20px;
    padding: 30px;
}

.filter button {
    width: 300px;
    height: 35px;
    background-color: #292727;
    color: white;
    font-size: 20px;
    border: 1px solid #292727;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter-icon {
    background-color: transparent;

    border: none;
    padding: 20px;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    display: grid;
}

.close-button {

    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (min-width: 960px) {
    .close-button {

        display: none;
    }
}