.container{
    display: flex;
}

.product-filter{
    width: 500px;
}

.productcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    padding: 25px;
}

.product-card{
    padding: 15px;
    height: 550px;
    width: 300px;
}

.product-image{
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.product-title{
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
}


.product-author{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: #82C0cc;
    padding: 2px;

}

.product-rating{
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding: 2px;
   
}

.product-price{
    font-size: 20px;
    padding: 2px;
}
