.container {
    display: flex;
    margin-top: 15px;
}

.product-filter {

    width: 500px;
    margin-left: 25px;

}

.products-page-title {
    padding-left: 30px;
}

.image-button {
    position: absolute;

}

/* use once data is imported */
.productcontainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
    justify-content: flex-start;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    justify-content: left;

}

.products-page-title h1 {
    font-size: 48px;

}

@media (max-width:960px) {
    .container {
        display: flex;
        width: auto;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .productcontainer {

        justify-content: space-evenly;
    }

    .product-filter {
        display: grid;
        justify-content: space-around;
        width: 100%;
        margin-left: 0px;

    }
}

.product-card {
    padding: 15px;
    height: 550px;
    width: 300px;
}

.product-image {
    width: 250px;
    height: 350px;
    object-fit: cover;
}

.product-title {
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    padding: 2px;
}


.product-author {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: #82C0cc;
    padding: 2px;

}

.product-rating {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding: 2px;

}

.product-price {
    font-size: 20px;
    padding: 2px;
}

.product-container link {
    text-decoration: none;

}

.product-card {
    padding: 15px;
    height: 650px;
    width: 400px;
}

.product-image {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.product-title {
    text-overflow: ellipsis;
    font-size: 28px;
    font-weight: 400;
    padding: 2px;
}


.product-author {
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: #82C0cc;
    padding: 2px;

}

.product-rating {
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    padding: 2px;

}

.product-price {
    font-size: 30px;
    padding: 2px;
}

@media (max-width: 501px) {



    .products-page-title h1 {
        font-size: 38px;

    }

    .product-card {

        padding: 15px;
        height: 550px;
        width: 300px;
    }

    .product-image {
        width: 250px;
        height: 350px;
        object-fit: cover;
    }

    .product-title {
        text-overflow: ellipsis;
        font-size: 20px;
        font-weight: 400;
        padding: 2px;
    }


    .product-author {
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        color: #82C0cc;
        padding: 2px;

    }

    .product-rating {
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        padding: 2px;

    }

    .product-price {
        font-size: 20px;
        padding: 2px;
    }

    .product-container link {
        text-decoration: none;

    }





}