.product-details {
    display: flex;

}

.product-details img {
    height: 709px;
    width: 512px;
    padding: 50px;
    object-fit: cover;
}

.product-info {
    margin-top: 40px;
    width: 900px;
    height: auto;
}

.product-info h1 {
    font-weight: 400;
    font-size: 40px;
}

.product-details h3 {
    font-weight: 400;
    font-size: 20px;
    color: #489fb5;
}

.product-details p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.product-details h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.product-details input[type="radio"] {
    accent-color: #16697a;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 10px;

}

.product-details label {
    font-family: 'Nunito', sans-serif;
    ;
    font-weight: 600;
    font-size: 20px;
    position: relative;

}

.leftbutton {
    height: 50px;
    width: 200px;
    background-color: #292727;
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 30px;
}

.rightbutton {
    height: 50px;
    width: 250px;
    font-family: 'Saira', sans-serif;
    background-color: #f2c202;
    color: #292727;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.reviews {
    display: flex;
    margin-top: 50px;

}

.review-menu{
    width:800px;
    padding: 20px;
    margin-left:30px;
}

.review-menu h1{
    font-size: 35px;
    color: gray;
    font-weight: 500;
}

.review-menu h2{
    font-size: 25px;
    color: #16697a;
    font-weight: 500;
    text-align: center;
}

.review-menu p{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.review-menu button{
    height: 50px;
    width: 400px;
    background-color: #16697a;
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.review-info{
   width: 1300px;
   margin-right: 100px;
}



.review-info select {
    width: 300px;
    height: 35px;
    background-color: #F4f4f4;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border: 1px solid #292727;
    float: right;

    
}

.review-info option {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.review-content{
    margin-top: 80px;
    margin-bottom: 50px;
}

.review-info h2{
  color: #16697a;
  font-size: 25px;
  font-weight: 500;
}

.review-info p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.review-date{
    font-size: 15px;
    font-weight: 300;
    color: gray;
    float: right;
}

.donate-link{
    background-color: #FFF4DA;
    height: 486px;
}

.donate-link h1{
    text-align: center;
    font-size: 40px;
    color: #292727;
    padding: 40px;
}

.donate-link p{
    text-align: center;
    font-size: 25px;
    color: #292727;
    
}

.donatebutton{
    height: 80px;
    width: 400px;
    background-color: #16697a;
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 30px;
    text-align: center;
}

.tradebutton{
    height: 80px;
    width: 400px;
    background-color: #f2c202;
    color: #292727;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.similar h2{
   font-size: 45px;
   text-align: center;
   padding: 20px;
   margin-top: 30px;
}

/* mobile styling */
@media (max-width: 501px) {
    .product-details {
            display: block;
    
        }
    
        .product-details img {
            height: 490px;
            width: 360px;
        }
    
        .product-info {
            width: 450px;
            height: auto;
        }
    
        .product-info h1 {
            font-size: 30px;
        }
    
        .product-details p {
            font-size: 15px;
          
        }
    
        .product-details h2 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    
    
        .product-details input[type="radio"] {
            display: none;
    
        }
    
        .product-details label {
            display: none;
    
        }
    
        .leftbutton {
            height: 25px;
            width: 100px;
        }
    
        .rightbutton {
            height: 25px;
            width: 100px;
        }
    
        .reviews {
            display: none;
    
        }
    
        .donate-link {
            display: none;
            
        }
    
        .similar h2 {
            font-size: 25px;
            text-align: center;
            
            
}
}

/* tablet styling */
@media (max-width: 1234px) {
    .donatebutton {
            height: 80px;
            width: 200px;
            
        }
    
        .tradebutton {
            height: 80px;
            width: 200px;
           
        }

}

@media (max-width: 2500px) {
    .product-details img {
    height: 812px;
    width: 609px;
}

.product-info {
    width: 1300px;
    height: auto;
}

.product-info h1 {
    font-size: 40px;
}

.product-details h3 {
    font-size: 30px;
}

.product-details p {
    font-size: 20px;
    
}

.leftbutton {
    width: 300px;
}

.rightbutton {
    width: 350px;
    
}

.reviews {
    margin-top: 80px;

}

.review-menu{
    width:600px;
}





.review-menu button{
    width: 500px;
}

.review-info{
   width: 1400px;
   margin-left: 80px;
}


.review-info h2{
  font-size: 30px;
  margin-top: 40px;

}

.review-info p {
    font-size: 25px;
}



.donate-link h1{
    font-size: 50px;
}

.donate-link p{
    text-align: center;
    font-size: 35px;
    width: 1900px;
    margin-left: 85px;
    
    
}

.donatebutton{
    margin-right: 450px;
    margin-left: 450px;
    margin-bottom: 30px;
    text-align: center;
}



}

@media (max-width: 1920px) {
    .donate-link p{
    text-align: center;
    font-size: 35px;
    width: 1800px;
    margin-left: 85px;
    
    
}

.donatebutton{
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 30px;
    text-align: center;
}

}

@media (max-width: 1920px) {
 .donate-link{
    display: none;
 }
}

@media (max-width: 480px) {
    .product-details {
        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 50%);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
    
        }
    
        .product-details img {
            height: 309px;
            width: 252px;
            align-content: center;
            padding: 0;
            padding-top: 20px;
            margin-left: 6%;
        }
    
    
        .product-info h1 {
            font-size: 30px;
            padding-left: 1%;
        }
    
        .product-details h3 {
            font-size: 25px;
            padding-left: 1%;

        }
    
        .product-details p {
            width: 400px;
            font-size: 15px;
            padding-left: 1%;
        }
    
        .product-details h2 {
            margin-top: 15px;
            margin-bottom: 0px;
            padding-left: 1%;
        }


    
    
        .product-details input[type="radio"] {
           display: none;
    
        }
    
        .product-details label {
            display: none;
    
        }
    
        .leftbutton {
            height: 50px;
            width: 150px;
            font-size: 15px;
            margin-right: 30px;
        }
    
        .rightbutton {
            height: 50px;
            width: 150px;
            font-weight: 700;
            font-size: 15px;
        }
    
        .reviews {
            display: grid;
    
        }
    
        .review-menu {
            width: 400px;
            padding: 0px;
        }

        .review-menu button {
            height: 50px;
            width: 300px;
        }
    
        .review-info {
            width: 1300px;
            margin-right: 100px;
        }
    
    
    
        .review-info select {
            width: 200px;
            height: 35px;
    
    
        }
    
    
        .review-content {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    
        .review-info p {
            font-size: 20px;
            width: 300px;
            font-weight: 300;
            margin-bottom: 30px;
        }
    
        .review-date {
            font-size: 15px;
            font-weight: 300;
            color: gray;
            float: right;
        }
    
        .donate-link {
            background-color: #FFF4DA;
            height: 486px;
        }
    
        .donate-link h1 {
            text-align: center;
            font-size: 40px;
            color: #292727;
            padding: 40px;
        }
    
        .donate-link p {
            text-align: center;
            font-size: 25px;
            color: #292727;
    
        }
    
        .donatebutton {
            height: 80px;
            width: 400px;
            background-color: #16697a;
            color: white;
            font-family: 'Saira', sans-serif;
            font-weight: 700;
            font-size: 35px;
            margin-top: 30px;
            margin-right: 200px;
            margin-left: 200px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .tradebutton {
            height: 80px;
            width: 400px;
            background-color: #f2c202;
            color: #292727;
            font-family: 'Saira', sans-serif;
            font-weight: 700;
            font-size: 35px;
            margin-top: 30px;
            margin-right: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .similar h2 {
            font-size: 45px;
            text-align: center;
            padding: 20px;
            margin-top: 30px;
        }
}

